* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f5f7fa;
  color: #1f2937;
  padding: 2rem;
  transition: filter 0.3s ease-in-out;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 96, 243, 0.5);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;
}

#overlay.active {
  opacity: 1;
}

header,
.intro,
.cards,
footer {
  transition: filter 0.3s ease-in-out;
}

.blurred {
  filter: blur(6px);
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: #111827;
}

p {
  font-size: 1rem;
  color: #6b7280;
  margin-top: 0.5rem;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  z-index: 10;
}

.profile img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(4, 96, 243);
  cursor: pointer;
}

.profile img:hover {
  transform: scale(1.3);
}

.intro {
  max-width: 800px;
  margin: 1.5rem auto;
  text-align: center;
  color: #374151;
  font-size: 1.1rem;
  line-height: 1.6;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 10px 25px rgba(42, 85, 225, 0.313);
  max-width: 300px;
  flex: 1 1 280px;
  text-align: left;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.card h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.95rem;
  color: #4b5563;
}

footer {
  text-align: center;
  margin-top: 3rem;
  font-size: 0.85rem;
  color: #9ca3af;
}
.skills {
  max-width: 800px;
  margin: 3rem auto 2rem;
  text-align: center;
}
.skill i {
  margin-right: 0.5rem;
  font-size: 1rem;
  vertical-align: middle;
}


.skills h2 {
  font-size: 1.8rem;
  color: #111827;
  margin-bottom: 1rem;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
  justify-content: center;
}

.skill {
  background-color: rgba(4, 96, 243, 0.1);
  color: #0460f3;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-weight: 600;
  font-size: 0.95rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.skill:hover {
  transform: translateY(-3px);
  background-color: rgba(4, 96, 243, 0.15);
}

.certificados {
  margin-top: 3rem;
  text-align: center;
}

.cert-list {
  margin-top: 1rem;
}

.cert-list img {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 4px;
  box-shadow: none;
  object-fit: contain;
}

.cert-list h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #111827;
}

.cert-list p {
  font-size: 0.95rem;
  color: #6b7280;
}
